<div id="welcome">
  <h1>Welcome to CSE Motors!</h1>
  <img src="/images/vehicles/delorean.jpg" alt="delorean" />
  <div id="car-details">
    <h2>DMC Delorean</h2>
    <ul>
      <li>3 Cup Holders</li>
      <li>Superman Doors</li>
      <li>Fuzzy Dicel</li>
    </ul>
    <button>Own Today</button>
  </div>
</div>
<div id="details">
  <div id="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
      <li>"So fast it's almost like traveling in time." (4/5)</li>
      <li>"Coolest ride on the road." (4/5)</li>
      <li>"I'm feeling McFly!" (5/5)</li>
      <li>"The most futuristic ride of our day" (4.5/5)</li>
      <li>"80's livin and I love it! (5/5)</li>
    </ul>
  </div>
  <div id="upgrades">
    <h2>Delorean Upgrades</h2>
    <span></span>
    <div>
      <img src="/images/upgrades/flux-cap.png" alt="capacitor" />
      <p>Flux Capacitor</p>
    </div>
    <div>
      <img src="/images/upgrades/flame.jpg" alt="decals" />
      <p>Flame Decals</p>
    </div>
    <div>
      <img src="/images/upgrades/bumper_sticker.jpg" alt="stickers" />
      <p>Bumper Stickers</p>
    </div>
    <div>
      <img src="/images/upgrades/hub-cap.jpg" alt="caps" />
      <p>Hub Caps</p>
    </div>
  </div>
</div>
